* {
  margin: 0; padding: 0;
}
body {
  font-size: 100%;
}

/* Alianza # 1  cad */



#cad-N-main{
	margin:40px auto;
	min-width:320px;
	width:340px;

}

#cad-N-main h1{
	font-size: 40px;
	text-shadow:4px 4px 5px #16a085;

}

.cad-N-container {
	width: 100%;
	margin: 0 0 1px;
}

.ancho-imagen{
  width: 340px;
}

.cad-N-titulo {
	position: relative;
	display: block;
	padding: 10px;
	font-size: 15px;
	font-weight: 300;
  font-family: lato,sans-serif;
	background: #76B503;
	color: #fff;
	text-decoration: none;
}

.cad-N-titulo.open {
	background: #76B503;
	color: #fff;
}

.cad-N-titulo:hover {
	background: #84C599;
  color: #2c3e50;
}

.cad-N-titulo span.toggle-icon1:before {
	content:"+";
}

.cad-N-titulo.open span.toggle-icon1:before {
	content:"-";
}

.cad-N-titulo span.toggle-icon1 {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight:bold;
}

.cad-N-content {
	display: none;
	overflow: auto;
}

.cad-N-content p{
  text-align: justify;
  font-size: 15px;
  font-family: lato, sans-serif;
  padding: 15px 25px;
  background-color: #ddd;
  color: #2c3e50;
}

.cad-N-content img {
	display: block;
	float: left;
	width: 340px;
	height: auto;
}

#cad-N-main h1{
	font-size: 40px;
	text-shadow:4px 4px 5px #16a085;

}

.cad-N-container {
	width: 100%;
	margin: 0 0 1px;
}

.ancho-imagen{
  width: 340px;
}

.cad-N-titulo {
	position: relative;
	display: block;
	padding: 10px;
	font-size: 15px;
	font-weight: 300;
  font-family: lato,sans-serif;
	background: #76B503;
	color: #fff;
	text-decoration: none;
}

.cad-N-titulo.open {
	background: #76B503;
	color: #fff;
}

.cad-N-titulo:hover {
	background: #84C599;
  color: #2c3e50;
}

.cad-N-titulo span.toggle-icon1:before {
	content:"+";
}

.cad-N-titulo.open span.toggle-icon1:before {
	content:"-";
}

.cad-N-titulo span.toggle-icon1 {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight:bold;
}

.cad-N-content {
	display: none;
	overflow: auto;
}

.cad-N-content p{
  text-align: justify;
  font-size: 15px;
  font-family: lato, sans-serif;
  padding: 15px 25px;
  background-color: #ddd;
  color: #2c3e50;
}

.cad-N-content img {
	display: block;
	float: left;
	width: 340px;
	height: auto;
}


/* Alianza # 1  cad */

/*alfa 21*/

#alfa-N-main{
	margin:40px auto;
	min-width:320px;
	width:340px;

}

#alfa-N-main h1{
	font-size: 40px;
	text-shadow:4px 4px 5px #16a085;

}

.alfa-N-container {
	width: 100%;
	margin: 0 0 1px;
}

.ancho-imagen{
  width: 340px;
}

.alfa-N-titulo {
	position: relative;
	display: block;
	padding: 10px;
	font-size: 15px;
	font-weight: 300;
  font-family: lato,sans-serif;
	background: #76B503;
	color: #fff;
	text-decoration: none;
}

.alfa-N-titulo.open {
	background: #76B503;
	color: #fff;
}

.alfa-N-titulo:hover {
	background: #84C599;
  color: #2c3e50;
}

.alfa-N-titulo span.toggle-icon1:before {
	content:"+";
}

.alfa-N-titulo.open span.toggle-icon1:before {
	content:"-";
}

.alfa-N-titulo span.toggle-icon1 {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight:bold;
}

.alfa-N-content {
	display: none;
	overflow: auto;
}

.alfa-N-content p{
  text-align: justify;
  font-size: 15px;
  font-family: lato, sans-serif;
  padding: 15px 25px;
  background-color: #ddd;
  color: #2c3e50;
}

.alfa-N-content img {
	display: block;
	float: left;
	width: 340px;
	height: auto;
}

#alfa-N-main h1{
	font-size: 40px;
	text-shadow:4px 4px 5px #16a085;

}

.alfa-N-container {
	width: 100%;
	margin: 0 0 1px;
}

.ancho-imagen{
  width: 340px;
}

.alfa-N-titulo {
	position: relative;
	display: block;
	padding: 10px;
	font-size: 15px;
	font-weight: 300;
  font-family: lato,sans-serif;
	background: #76B503;
	color: #fff;
	text-decoration: none;
}

.alfa-N-titulo.open {
	background: #76B503;
	color: #fff;
}

.alfa-N-titulo:hover {
	background: #84C599;
  color: #2c3e50;
}

.alfa-N-titulo span.toggle-icon1:before {
	content:"+";
}

.alfa-N-titulo.open span.toggle-icon1:before {
	content:"-";
}

.alfa-N-titulo span.toggle-icon1 {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight:bold;
}

.alfa-N-content {
	display: none;
	overflow: auto;
}

.alfa-N-content p{
  text-align: justify;
  font-size: 15px;
  font-family: lato, sans-serif;
  padding: 15px 25px;
  background-color: #ddd;
  color: #2c3e50;
}

.alfa-N-content img {
	display: block;
	float: left;
	width: 340px;
	height: auto;
}


/* Alianza # 3  mindset */

#mindset-N-main{
	margin:40px auto;
	min-width:320px;
	width:340px;
}

#mindset-N-main h1{
	font-size: 40px;
	text-shadow:4px 4px 5px #16a085;
}

.mindset-N-container {
	width: 100%;
	margin: 0 0 1px;
}

.ancho-imagen{
  width: 340px;
}

.mindset-N-titulo {
	position: relative;
	display: block;
	padding: 10px;
	font-size: 15px;
	font-weight: 300;
  font-family: lato,sans-serif;
	background: #76B503;
	color: #fff;
	text-decoration: none;
}

.mindset-N-titulo.open {
	background: #76B503;
	color: #fff;
}

.mindset-N-titulo:hover {
	background: #84C599;
  color: #2c3e50;
}

.mindset-N-titulo span.toggle-icon1:before {
	content:"+";
}

.mindset-N-titulo.open span.toggle-icon1:before {
	content:"-";
}

.mindset-N-titulo span.toggle-icon1 {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight:bold;
}

.mindset-N-content {
	display: none;
	overflow: auto;
}

.mindset-N-content p{
  text-align: justify;
  font-size: 15px;
  font-family: lato, sans-serif;
  padding: 15px 25px;
  background-color: #ddd;
  color: #2c3e50;
}

.mindset-N-content img {
	display: block;
	float: left;
	width: 340px;
	height: auto;
}


/* Alianza # 4  mindset */

#agn-N-main{
	margin:40px auto;
	min-width:320px;
	width:340px;
}

#agn-N-main h1{
	font-size: 40px;
	text-shadow:4px 4px 5px #16a085;
}

.agn-N-container {
	width: 100%;
	margin: 0 0 1px;
}

.ancho-imagen{
  width: 340px;
}

.agn-N-titulo {
	position: relative;
	display: block;
	padding: 10px;
	font-size: 15px;
	font-weight: 300;
  font-family: lato,sans-serif;
	background: #76B503;
	color: #fff;
	text-decoration: none;
}

.agn-N-titulo.open {
	background: #76B503;
	color: #fff;
}

.agn-N-titulo:hover {
	background: #84C599;
  color: #2c3e50;
}

.agn-N-titulo span.toggle-icon1:before {
	content:"+";
}

.agn-N-titulo.open span.toggle-icon1:before {
	content:"-";
}

.agn-N-titulo span.toggle-icon1 {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight:bold;
}

.agn-N-content {
	display: none;
	overflow: auto;
}

.agn-N-content p{
  text-align: justify;
  font-size: 15px;
  font-family: lato, sans-serif;
  padding: 15px 25px;
  background-color: #ddd;
  color: #2c3e50;
}

.agn-N-content img {
	display: block;
	float: left;
	width: 340px;
	height: auto;
}



/* Alianza # 5  sonria */

#sonria-N-main{
	margin:40px auto;
	min-width:320px;
	width:340px;
}

#sonria-N-main h1{
	font-size: 40px;
	text-shadow:4px 4px 5px #16a085;
}

.sonria-N-container {
	width: 100%;
	margin: 0 0 1px;
}

.ancho-imagen{
  width: 340px;
}

.sonria-N-titulo {
	position: relative;
	display: block;
	padding: 10px;
	font-size: 15px;
	font-weight: 300;
  font-family: lato,sans-serif;
	background: #76B503;
	color: #fff;
	text-decoration: none;
}

.sonria-N-titulo.open {
	background: #76B503;
	color: #fff;
}

.sonria-N-titulo:hover {
	background: #84C599;
  color: #2c3e50;
}

.sonria-N-titulo span.toggle-icon1:before {
	content:"+";
}

.sonria-N-titulo.open span.toggle-icon1:before {
	content:"-";
}

.sonria-N-titulo span.toggle-icon1 {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight:bold;
}

.sonria-N-content {
	display: none;
	overflow: auto;
}

.sonria-N-content p{
  font-size: 15px;
  font-family: lato, sans-serif;
  padding: 15px 25px;
  background-color: #ddd;
  color: #2c3e50;
}

.sonria-N-content img {
	display: block;
	float: left;
	width: 340px;
	height: auto;
}


/* Alianza # 5  sonria */

#sonria2-main{
	margin:40px auto;
	min-width:320px;
	width:340px;
}

#sonria2-main h1{
	font-size: 40px;
	text-shadow:4px 4px 5px #16a085;
}

.sonria2-container {
	width: 100%;
	margin: 0 0 1px;
}

.ancho-imagen{
  width: 340px;
}

.sonria2-titulo {
	position: relative;
	display: block;
	padding: 10px;
	font-size: 15px;
	font-weight: 300;
  font-family: lato,sans-serif;
	background: #76B503;
	color: #fff;
	text-decoration: none;
}

.sonria2-titulo.open {
	background: #76B503;
	color: #fff;
}

.sonria2-titulo:hover {
	background: #84C599;
  color: #2c3e50;
}

.sonria2-titulo span.toggle-icon1:before {
	content:"+";
}

.sonria2-titulo.open span.toggle-icon1:before {
	content:"-";
}

.sonria2-titulo span.toggle-icon1 {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight:bold;
}

.sonria2-content {
	display: none;
	overflow: auto;
}

.sonria2-content p{
  text-align: justify;
  font-size: 15px;
  font-family: lato, sans-serif;
  padding: 15px 25px;
  background-color: #ddd;
  color: #2c3e50;
}

.sonria2-content img {
	display: block;
	float: left;
	width: 340px;
	height: auto;
}
