
/*xilon*/

#xilon-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#xilon-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.xilon-container {
width: 100%;
margin: 0 0 1px;
}

.xilon-imagen{
width: 340px;
}

.xilon-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.xilon-titulo.open {
background: #76B503;
color: #fff;
}

.xilon-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.xilon-titulo span.toggle-icon1:before {
content:"+";
}

.xilon-titulo.open span.toggle-icon1:before {
content:"-";
}

.xilon-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.xilon-content {
display: none;
overflow: auto;
}

.xilon-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.xilon-content img {
display: block;
float: left;
width: 340px;
height: auto;
}



/*bater*/

#bater-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#bater-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.bater-container {
width: 100%;
margin: 0 0 1px;
}

.bater-imagen{
width: 340px;
}

.bater-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.bater-titulo.open {
background: #76B503;
color: #fff;
}

.bater-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.bater-titulo span.toggle-icon1:before {
content:"+";
}

.bater-titulo.open span.toggle-icon1:before {
content:"-";
}

.bater-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.bater-content {
display: none;
overflow: auto;
}

.bater-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.bater-content img {
display: block;
float: left;
width: 340px;
height: auto;
}



/*cero*/

#cero-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#cero-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.cero-container {
width: 100%;
margin: 0 0 1px;
}

.cero-imagen{
width: 340px;
}

.cero-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.cero-titulo.open {
background: #76B503;
color: #fff;
}

.cero-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.cero-titulo span.toggle-icon1:before {
content:"+";
}

.cero-titulo.open span.toggle-icon1:before {
content:"-";
}

.cero-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.cero-content {
display: none;
overflow: auto;
}

.cero-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.cero-content img {
display: block;
float: left;
width: 340px;
height: auto;
}





/*riviera*/

#riviera-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#riviera-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.riviera-container {
width: 100%;
margin: 0 0 1px;
}

.riviera-imagen{
width: 340px;
}

.riviera-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.riviera-titulo.open {
background: #76B503;
color: #fff;
}

.riviera-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.riviera-titulo span.toggle-icon1:before {
content:"+";
}

.riviera-titulo.open span.toggle-icon1:before {
content:"-";
}

.riviera-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.riviera-content {
display: none;
overflow: auto;
}

.riviera-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.riviera-content img {
display: block;
float: left;
width: 340px;
height: auto;
}



/*sonrisas*/

#son-risas-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#son-risas-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.son-risas-container {
width: 100%;
margin: 0 0 1px;
}

.son-risas-imagen{
width: 340px;
}

.son-risas-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.son-risas-titulo.open {
background: #76B503;
color: #fff;
}

.son-risas-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.son-risas-titulo span.toggle-icon1:before {
content:"+";
}

.son-risas-titulo.open span.toggle-icon1:before {
content:"-";
}

.son-risas-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.son-risas-content {
display: none;
overflow: auto;
}

.son-risas-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.son-risas-content img {
display: block;
float: left;
width: 340px;
height: auto;
}



/*hotel don saul*/

#saul-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#saul-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.saul-container {
width: 100%;
margin: 0 0 1px;
}

.saul-imagen{
width: 340px;
}

.saul-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.saul-titulo.open {
background: #76B503;
color: #fff;
}

.saul-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.saul-titulo span.toggle-icon1:before {
content:"+";
}

.saul-titulo.open span.toggle-icon1:before {
content:"-";
}

.saul-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.saul-content {
display: none;
overflow: auto;
}

.saul-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.saul-content img {
display: block;
float: left;
width: 340px;
height: auto;
}




/*Ivan becerra*/

#ivanB-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#ivanB-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.ivanB-container {
width: 100%;
margin: 0 0 1px;
}

.ivanB-imagen{
width: 340px;
}

.ivanB-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.ivanB-titulo.open {
background: #76B503;
color: #fff;
}

.ivanB-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.ivanB-titulo span.toggle-icon1:before {
content:"+";
}

.ivanB-titulo.open span.toggle-icon1:before {
content:"-";
}

.ivanB-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.ivanB-content {
display: none;
overflow: auto;
}

.ivanB-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.ivanB-content img {
display: block;
float: left;
width: 340px;
height: auto;
}






/*Odonto Familiar ac*/

#odontoFamiliar-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#odontoFamiliar-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.odontoFamiliar-container {
width: 100%;
margin: 0 0 1px;
}

.odontoFamiliar-imagen{
width: 340px;
}

.odontoFamiliar-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.odontoFamiliar-titulo.open {
background: #76B503;
color: #fff;
}

.odontoFamiliar-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.odontoFamiliar-titulo span.toggle-icon1:before {
content:"+";
}

.odontoFamiliar-titulo.open span.toggle-icon1:before {
content:"-";
}

.odontoFamiliar-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.odontoFamiliar-content {
display: none;
overflow: auto;
}

.odontoFamiliar-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.odontoFamiliar-content img {
display: block;
float: left;
width: 340px;
height: auto;
}
