
/*xilon*/

#xilon-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#xilon-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.xilon-container {
width: 100%;
margin: 0 0 1px;
}

.xilon-imagen{
width: 340px;
}

.xilon-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.xilon-titulo.open {
background: #76B503;
color: #fff;
}

.xilon-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.xilon-titulo span.toggle-icon1:before {
content:"+";
}

.xilon-titulo.open span.toggle-icon1:before {
content:"-";
}

.xilon-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.xilon-content {
display: none;
overflow: auto;
}

.xilon-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.xilon-content img {
display: block;
float: left;
width: 340px;
height: auto;
}



/*bater*/

#bater-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#bater-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.bater-container {
width: 100%;
margin: 0 0 1px;
}

.bater-imagen{
width: 340px;
}

.bater-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.bater-titulo.open {
background: #76B503;
color: #fff;
}

.bater-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.bater-titulo span.toggle-icon1:before {
content:"+";
}

.bater-titulo.open span.toggle-icon1:before {
content:"-";
}

.bater-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.bater-content {
display: none;
overflow: auto;
}

.bater-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.bater-content img {
display: block;
float: left;
width: 340px;
height: auto;
}



/*cero*/

#cero-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#cero-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.cero-container {
width: 100%;
margin: 0 0 1px;
}

.cero-imagen{
width: 340px;
}

.cero-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.cero-titulo.open {
background: #76B503;
color: #fff;
}

.cero-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.cero-titulo span.toggle-icon1:before {
content:"+";
}

.cero-titulo.open span.toggle-icon1:before {
content:"-";
}

.cero-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.cero-content {
display: none;
overflow: auto;
}

.cero-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.cero-content img {
display: block;
float: left;
width: 340px;
height: auto;
}





/*riviera*/

#riviera-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#riviera-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.riviera-container {
width: 100%;
margin: 0 0 1px;
}

.riviera-imagen{
width: 340px;
}

.riviera-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.riviera-titulo.open {
background: #76B503;
color: #fff;
}

.riviera-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.riviera-titulo span.toggle-icon1:before {
content:"+";
}

.riviera-titulo.open span.toggle-icon1:before {
content:"-";
}

.riviera-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.riviera-content {
display: none;
overflow: auto;
}

.riviera-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.riviera-content img {
display: block;
float: left;
width: 340px;
height: auto;
}



/*sonrisas*/

#son-risas-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#son-risas-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.son-risas-container {
width: 100%;
margin: 0 0 1px;
}

.son-risas-imagen{
width: 340px;
}

.son-risas-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.son-risas-titulo.open {
background: #76B503;
color: #fff;
}

.son-risas-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.son-risas-titulo span.toggle-icon1:before {
content:"+";
}

.son-risas-titulo.open span.toggle-icon1:before {
content:"-";
}

.son-risas-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.son-risas-content {
display: none;
overflow: auto;
}

.son-risas-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.son-risas-content img {
display: block;
float: left;
width: 340px;
height: auto;
}



/*hotel don saul*/

#saul-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#saul-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.saul-container {
width: 100%;
margin: 0 0 1px;
}

.saul-imagen{
width: 340px;
}

.saul-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.saul-titulo.open {
background: #76B503;
color: #fff;
}

.saul-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.saul-titulo span.toggle-icon1:before {
content:"+";
}

.saul-titulo.open span.toggle-icon1:before {
content:"-";
}

.saul-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.saul-content {
display: none;
overflow: auto;
}

.saul-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.saul-content img {
display: block;
float: left;
width: 340px;
height: auto;
}




/*Ivan becerra*/

#ivanB-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#ivanB-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.ivanB-container {
width: 100%;
margin: 0 0 1px;
}

.ivanB-imagen{
width: 340px;
}

.ivanB-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.ivanB-titulo.open {
background: #76B503;
color: #fff;
}

.ivanB-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.ivanB-titulo span.toggle-icon1:before {
content:"+";
}

.ivanB-titulo.open span.toggle-icon1:before {
content:"-";
}

.ivanB-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.ivanB-content {
display: none;
overflow: auto;
}

.ivanB-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.ivanB-content img {
display: block;
float: left;
width: 340px;
height: auto;
}






/*Odonto Familiar ac*/

#odontoFamiliar-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#odontoFamiliar-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.odontoFamiliar-container {
width: 100%;
margin: 0 0 1px;
}

.odontoFamiliar-imagen{
width: 340px;
}

.odontoFamiliar-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.odontoFamiliar-titulo.open {
background: #76B503;
color: #fff;
}

.odontoFamiliar-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.odontoFamiliar-titulo span.toggle-icon1:before {
content:"+";
}

.odontoFamiliar-titulo.open span.toggle-icon1:before {
content:"-";
}

.odontoFamiliar-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.odontoFamiliar-content {
display: none;
overflow: auto;
}

.odontoFamiliar-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.odontoFamiliar-content img {
display: block;
float: left;
width: 340px;
height: auto;
}



/*angelex */

#angelex-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#angelex-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.angelex-container {
width: 100%;
margin: 0 0 1px;
}

.angelex-imagen{
width: 340px;
}

.angelex-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.angelex-titulo.open {
background: #76B503;
color: #fff;
}

.angelex-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.angelex-titulo span.toggle-icon1:before {
content:"+";
}

.angelex-titulo.open span.toggle-icon1:before {
content:"-";
}

.angelex-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.angelex-content {
display: none;
overflow: auto;
}

.angelex-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.angelex-content img {
display: block;
float: left;
width: 340px;
height: auto;
}



/*casaoptica*/

#casaoptica-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#casaoptica-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.casaoptica-container {
width: 100%;
margin: 0 0 1px;
}

.casaoptica-imagen{
width: 340px;
}

.casaoptica-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.casaoptica-titulo.open {
background: #76B503;
color: #fff;
}

.casaoptica-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.casaoptica-titulo span.toggle-icon1:before {
content:"+";
}

.casaoptica-titulo.open span.toggle-icon1:before {
content:"-";
}

.casaoptica-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.casaoptica-content {
display: none;
overflow: auto;
}

.casaoptica-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.casaoptica-content img {
display: block;
float: left;
width: 340px;
height: auto;
}


/*computronix*/

#computronix-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#computronix-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.computronix-container {
width: 100%;
margin: 0 0 1px;
}

.computronix-imagen{
width: 340px;
}

.computronix-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.computronix-titulo.open {
background: #76B503;
color: #fff;
}

.computronix-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.computronix-titulo span.toggle-icon1:before {
content:"+";
}

.computronix-titulo.open span.toggle-icon1:before {
content:"-";
}

.computronix-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.computronix-content {
display: none;
overflow: auto;
}

.computronix-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.computronix-content img {
display: block;
float: left;
width: 340px;
height: auto;
}



/*chaparral*/

#chaparral-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#chaparral-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.chaparral-container {
width: 100%;
margin: 0 0 1px;
}

.chaparral-imagen{
width: 340px;
}

.chaparral-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.chaparral-titulo.open {
background: #76B503;
color: #fff;
}

.chaparral-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.chaparral-titulo span.toggle-icon1:before {
content:"+";
}

.chaparral-titulo.open span.toggle-icon1:before {
content:"-";
}

.chaparral-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.chaparral-content {
display: none;
overflow: auto;
}

.chaparral-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.chaparral-content img {
display: block;
float: left;
width: 340px;
height: auto;
}



/*morasurco*/

#morasurco-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#morasurco-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.morasurco-container {
width: 100%;
margin: 0 0 1px;
}

.morasurco-imagen{
width: 340px;
}

.morasurco-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.morasurco-titulo.open {
background: #76B503;
color: #fff;
}

.morasurco-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.morasurco-titulo span.toggle-icon1:before {
content:"+";
}

.morasurco-titulo.open span.toggle-icon1:before {
content:"-";
}

.morasurco-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.morasurco-content {
display: none;
overflow: auto;
}

.morasurco-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.morasurco-content img {
display: block;
float: left;
width: 340px;
height: auto;
}




/*sindamanoy*/

#sindamanoy-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#sindamanoy-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.sindamanoy-container {
width: 100%;
margin: 0 0 1px;
}

.sindamanoy-imagen{
width: 340px;
}

.sindamanoy-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.sindamanoy-titulo.open {
background: #76B503;
color: #fff;
}

.sindamanoy-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.sindamanoy-titulo span.toggle-icon1:before {
content:"+";
}

.sindamanoy-titulo.open span.toggle-icon1:before {
content:"-";
}

.sindamanoy-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.sindamanoy-content {
display: none;
overflow: auto;
}

.sindamanoy-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.sindamanoy-content img {
display: block;
float: left;
width: 340px;
height: auto;
}




/*muscle*/

#muscle-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#muscle-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.muscle-container {
width: 100%;
margin: 0 0 1px;
}

.muscle-imagen{
width: 340px;
}

.muscle-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.muscle-titulo.open {
background: #76B503;
color: #fff;
}

.muscle-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.muscle-titulo span.toggle-icon1:before {
content:"+";
}

.muscle-titulo.open span.toggle-icon1:before {
content:"-";
}

.muscle-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.muscle-content {
display: none;
overflow: auto;
}

.muscle-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.muscle-content img {
display: block;
float: left;
width: 340px;
height: auto;
}




/*karibeña*/

#karibena-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#karibena-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.karibena-container {
width: 100%;
margin: 0 0 1px;
}

.karibena-imagen{
width: 340px;
}

.karibena-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.karibena-titulo.open {
background: #76B503;
color: #fff;
}

.karibena-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.karibena-titulo span.toggle-icon1:before {
content:"+";
}

.karibena-titulo.open span.toggle-icon1:before {
content:"-";
}

.karibena-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.karibena-content {
display: none;
overflow: auto;
}

.karibena-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.karibena-content img {
display: block;
float: left;
width: 340px;
height: auto;
}





/*orthomax*/

#orthomax-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#orthomax-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.orthomax-container {
width: 100%;
margin: 0 0 1px;
}

.orthomax-imagen{
width: 340px;
}

.orthomax-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.orthomax-titulo.open {
background: #76B503;
color: #fff;
}

.orthomax-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.orthomax-titulo span.toggle-icon1:before {
content:"+";
}

.orthomax-titulo.open span.toggle-icon1:before {
content:"-";
}

.orthomax-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.orthomax-content {
display: none;
overflow: auto;
}

.orthomax-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.orthomax-content img {
display: block;
float: left;
width: 340px;
height: auto;
}





/*poledance*/

#poledance-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#poledance-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.poledance-container {
width: 100%;
margin: 0 0 1px;
}

.poledance-imagen{
width: 340px;
}

.poledance-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.poledance-titulo.open {
background: #76B503;
color: #fff;
}

.poledance-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.poledance-titulo span.toggle-icon1:before {
content:"+";
}

.poledance-titulo.open span.toggle-icon1:before {
content:"-";
}

.poledance-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.poledance-content {
display: none;
overflow: auto;
}

.poledance-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.poledance-content img {
display: block;
float: left;
width: 340px;
height: auto;
}
