* {
  margin: 0; padding: 0;
}
body {
  font-size: 100%;
}

/* Alianza # 1 */
.accordion1 {
  width: 340px;
  margin: 10px auto;;
}

.ancho-imagen{
  width: 340px
}
.accordion1 h1, h2, h3, h4 {
  cursor: pointer;
}
.accordion1 h2, h3, h4 {
  font-family: "News Cycle";
}
.accordion1 h1 {
  padding: 10px 20px;
  background-color: #76B503;
  font-family: lato,sans-serif;;
  font-size: 1rem;
  font-weight: normal;
  color: #ffffff;
}
.accordion1 h1:hover {
  color: #2c3e50;
}

.accordion1 h1:first-child {
  border-radius: 10px 10px 0 0;
}
.accordion1 h1:last-of-type {
  border-radius: 0 0 10px 10px;
}
.accordion1 h1:not(:last-of-type) {
  border-bottom: 1.5px dotted #ffffff;
}
.accordion1 div, .accordion1 p {
  display: none;
}
.accordion1 h2 {
  padding: 5px 25px;
  background-color: #1abc9c;
  font-size: 1.1rem;
  color: #333;
}
.accordion1 h2:hover {
  background-color: #09ab8b;
}
.accordion1 h3 {
  padding: 5px 30px;
  background-color: #b94152;
  font-size: .9rem;
  color: #ddd;
}
.accordion1 h3:hover {
  background-color: #a93142;
}
.accordion1 h4 {
  padding: 5px 35px;
  background-color: #ffc25a;
  font-size: .9rem;
  color: #af720a;
}
.accordion1 h4:hover {
  background-color: #e0b040;
}
.accordion1 p {
  padding: 15px 35px;
  background-color: #ddd;
  font-family: lato,sans-serif;
  font-size: .8rem;
  color: #333;
  line-height: 1.3rem;
}
.accordion1 .opened-for-codepen {
  padding: 0;
  display: block;
}

.imagen-full {
  padding: 0;
}
.tamano-imagen{
  padding: 0px 0px;
  width: 380px;
  }

/* Alianza # 2 */

.accordion2 {
  width: 340px;
  margin: 10px auto;;
}

.ancho-imagen{
  width: 340px
}
.accordion2 h1, h2, h3, h4 {
  cursor: pointer;
}
.accordion2 h2, h3, h4 {
  font-family: "News Cycle";
}
.accordion2 h1 {
  padding: 10px 20px;
  background-color: #76B503;
  font-family: lato,sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #ffffff;
}
.accordion2 h1:hover {
  color: #2c3e50;
}

.accordion2 h1:first-child {
  border-radius: 10px 10px 0 0;
}
.accordion2 h1:last-of-type {
  border-radius: 0 0 10px 10px;
}
.accordion2 h1:not(:last-of-type) {
  border-bottom: 1.5px dotted #ffffff;
}
.accordion2 div, .accordion2 p {
  display: none;
}
.accordion2 h2 {
  padding: 5px 25px;
  background-color: #1abc9c;
  font-size: 1.1rem;
  color: #333;
}
.accordion2 h2:hover {
  background-color: #09ab8b;
}
.accordion2 h3 {
  padding: 5px 30px;
  background-color: #b94152;
  font-size: .9rem;
  color: #ddd;
}
.accordion2 h3:hover {
  background-color: #a93142;
}
.accordion2 h4 {
  padding: 5px 35px;
  background-color: #ffc25a;
  font-size: .9rem;
  color: #af720a;
}
.accordion2 h4:hover {
  background-color: #e0b040;
}
.accordion2 p {
  padding: 15px 35px;
  background-color: #ddd;
  font-family: lato,sans-serif;
  font-size: .8rem;
  color: #333;
  line-height: 1.3rem;
}
.accordion2 .opened-for-codepen {
  padding: 0;
  display: block;
}
.container-flex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.imagen-full {
  padding: 0;
}
.tamano-imagen{
  padding: 0px 0px;
  width: 380px;
  }
