* {
  padding: 0;
  margin: 0;
}

.imagen-bogota {
  background-image: url(../images/valledupar/bg1920.jpg);

}

@media screen and (max-width: 1366px){
  .imagen-bogota {
    background-image: url(../images/valledupar/bg1366.jpg);

  }
}

.container-bogota {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1024px;
  height: 450px;
}

.container-section2 {
  display: flex;
  text-align: center;
  align-items: center;

}

.container-recuadro-img {
  padding-top: 18px;
}

.container-cuadro-texto {
  position: absolute;
  top:130;
  width: 708px;
  text-align: center;
  align-items: center;
  font-size: 25px;
  font-family: lato, sans-serif;

}

.textsorteo {
  color: #84C546;
  padding-bottom: 35px;
  font-family: lato,sans-serif;
}

.textsorteo2 {
  color: #ffffff;
  padding-bottom: 35px;
  font-family: lato, sans-serif;
}
.container-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo--club{
  position: absolute;
  padding: 5px;
}

.logo--club--img{
  width: 277px;
}


                                        /*stilos de botones*/

.buttons1 {       /* estilos de botones  header*/
  margin: 0;
  padding-right: 10px;
  padding-top: 22px;
  text-align: right;
  width: auto;
  position: absolute;
  z-index: 999;
  right: 0;

}
.registrarse {
  padding: 4px 15px 4px 15px;
  background-color: inherit;
  border: solid 1px;
  border-color: #fff;
  border-radius: 14px;
  font-family: lato, sans serif;
  font-size: 14px;
  color: #ffffff;
}
.registrarse:hover {
  background-color: #ffffff;
  color: #80A000;
  cursor: pointer;
}


.iniciar_sesion {
  padding: 4px 15px 4px 15px;
  background-color: inherit;
  border: solid 1px;
  border-color: #ffffff;
  border-radius: 14px;
  font-family: lato, sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}
.iniciar_sesion:hover {
  background-color: #ffffff;
  color: #80A000;
  cursor: pointer;
}

.iniciar_sesion a active{
  border-color: #80A000;

}                         /* fin estilos de botones header */


                                        /*fin stilos botones*/


/* inicia contacto generales*/

/* inicia seccion de generales */
.franja{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  max-width: 1024px;
  padding-top: 30px;
  justify-content: center;
}

.container-franja {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1024px;
  margin: auto;
  justify-content: center;
}


.linea-izq hr {
  margin: 0;
  border: 0;
  margin-top: 35px;
  background-color: green;
  height: 1px;
}

.linea-derecha hr {
  margin: 0;
  border: 0;
  margin-top: 35px;
  background-color: green;
  height: 1px;
}


.txt-alianzas-linea{
  margin: 20px;
  font-family: lato, sans-serif;
  font-size: 28px;
  font-weight: 200;
}

}
  /* fin seccion de generales */


    /*inicia seccion de acordeon*/

.accordion-width{
  max-width: 1280px;
}

#container-main{
	margin:40px auto;
	width:95%;
	min-width:320px;
	max-width:1024px;
  padding-bottom: 30px;
}

#container-main h1{
	font-size: 14px;
}

.accordion-container {

	width: 100%;
	margin: 0 0 1px;
	clear:both;
}

.accordion-titulo {
	position: relative;
	display: block;
	padding: 20px;
	font-size: 22px;
  font-family: lato,sans-serif;
	font-weight: 200;
	background: #ffffff;
	color: #2c3e50;
	text-decoration: none;
}

.minimizando{
  width: 60px;
  padding-right: 10px;
}

.accordion-titulo p {

  font-size: 16px;
  padding-left: 10px;
}


.accordion-titulo.open {
	background: #fafafa;
	color: #84C546;
}
.accordion-titulo:hover {
	background: #f2f2f2;
}

.accordion-titulo span.toggle-icon:before {
	content:"+";

}

.toggle-icon:before {
  font-size: 25px;
  color: #2c3e50;
  font-weight:  200;

}
.accordion-titulo.open span.toggle-icon:before {
	content:"-";
  color:  #84C546;
  font-weight: normal;
}

.accordion-titulo span.toggle-icon {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight:bold;

}

.accordion-content {
	display: none;
  flex-wrap: wrap;
  justify-content: center;
	padding: 20px;
	overflow: auto;
}

.accordion-diplayflex{
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
}

.accordion--fila-superior{
  background-color: #373F04;
  height: 20px;
}


.accordion-fila-inferior{
  background-color: #B3C642;
}

#fondo-vip {
  background-color: #C1BF67;
}

.ccordion-tamano-img {
  padding-top: 5px;
}

.vigencia {
  text-align: center;
  font-family: lato, sans-serif;
  padding-top: 20px;
  padding-bottom: 15px;
}

.accordion-content-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
}

.accordeon-tabla {
margin: 3px;
}

.accordion-puntos-img {
  text-align: center;
}


.accordion-content p{
	margin:0;
}

.accordeon-tamano-img  {
  width: 118px;
  height: 89px;
}

.accordion-content img {
}


@media (max-width: 767px) {
	.accordion-content {
		padding: 10px 0;
	}
}



/* estilos de accordion interno  alianzas*/
.accordion1 {
  width: 340px;
  margin: 10px auto;;
}

.ancho-imagen{
  width: 340px
}
.accordion1 h1, h2, h3, h4 {
  cursor: pointer;
}
.accordion1 h2, h3, h4 {
  font-family: "News Cycle";
}
.accordion1 h1 {
  padding: 10px 20px;
  background-color: #76B503;
  font-family: lato,sans-serif;;
  font-size: 1rem;
  font-weight: normal;
  color: #ffffff;
}
.accordion1 h1:hover {
  color: #2c3e50;
}

.accordion1 h1:first-child {
  border-radius: 10px 10px 0 0;
}
.accordion1 h1:last-of-type {
  border-radius: 0 0 10px 10px;
}
.accordion1 h1:not(:last-of-type) {
  border-bottom: 1.5px dotted #ffffff;
}
.accordion1 div, .accordion1 p {
  display: none;
}
.accordion1 h2 {
  padding: 5px 25px;
  background-color: #1abc9c;
  font-size: 1.1rem;
  color: #333;
}
.accordion1 h2:hover {
  background-color: #09ab8b;
}
.accordion1 h3 {
  padding: 5px 30px;
  background-color: #b94152;
  font-size: .9rem;
  color: #ddd;
}
.accordion1 h3:hover {
  background-color: #a93142;
}
.accordion1 h4 {
  padding: 5px 35px;
  background-color: #ffc25a;
  font-size: .9rem;
  color: #af720a;
}
.accordion1 h4:hover {
  background-color: #e0b040;
}
.accordion1 p {
  padding: 15px 35px;
  background-color: #ddd;
  font-family: lato,sans-serif;
  font-size: .8rem;
  color: #333;
  line-height: 1.3rem;
}
.accordion1 .opened-for-codepen {
  padding: 0;
  display: block;
}
.container-flex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.imagen-full {
  padding: 0;
}
.tamano-imagen{
  padding: 0px 0px;
  width: 380px;
  }


/* Fin de estilos accorderon interno alianzas*/





#container-main1{
	margin:40px auto;
	width:95%;
	min-width:320px;
	max-width:300px;
}

#container-main1 h1{
	font-size: 40px;
	text-shadow:4px 4px 5px #16a085;
}

.accordion-container1 {
	width: 100%;
	margin: 0 0 20px;
	clear:both;
}

.accordion-titulo1 {
	position: relative;
	display: block;
	padding: 20px;
	font-size: 24px;
	font-weight: 300;
	background: #2c3e50;
	color: #fff;
	text-decoration: none;
}
.accordion-titulo1.open {
	background: #16a085;
	color: #fff;
}
.accordion-titulo1:hover {
	background: #1abc9c;
}

.accordion-titulo1 span.toggle-icon1:before {
	content:"+";
}

.accordion-titulo1.open span.toggle-icon1:before {
	content:"-";
}

.accordion-titulo1 span.toggle-icon1 {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight:bold;
}

.accordion-content1 {
	display: none;
	padding: 20px;
	overflow: auto;
}

.accordion-content1 p{
	margin:0;
}

.accordion-content1 img {
	display: block;
	float: left;
	margin: 0 15px 10px 0;
	width: 50%;
	height: auto;
}



}

@media (max-width: 767px) {
	.accordion-content {
		padding: 10px 0;
	}
}



/* ESTILOS DEL FOOTER */

.footer-seccion{
  background-color: #253341;
  width: 100%;
  margin-top: 90px;



}

.footer-seccion-div{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;;
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 20px;
}

.footer-info {

  width: auto;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 10px;

}

.footer-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: lato, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 100;

}

.footer-info ul {
list-style-type: circle;
color: #B3C642;
padding-left: 20px;
padding-top: 25px;



}

.lista {
  margin-bottom: 10px;
  text-align: justify;
  width: 300px;
}

span {
  color: #ffffff;

}
.footer-redes {

  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;

}

.redes-sociales-container {
  display: flex;
  justify-content: space-around;
  width: 210px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-form{

  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 6px;
}

.entrada {
  margin-top: 4px;
  margin-bottom: 4px;

}


.buton1 {
  width: 90px;

}


.validation {
  visibility: hidden;
  display: none;
}



@media screen and (max-width: 1280px){
  .linea-izq hr{
    width: 380px;
  }

  .linea-derecha hr{
    width: 380px;
  }
}


@media screen and (max-width: 1040px){

  .footer-seccion-div {
    width: 400px;
  }

  .footer-info {
    padding-top: 10px;
  }
  .footer-redes {
    padding-top: 20px;
    padding-bottom: 15px;
  }


  .linea-izq hr{
    width: 200px;
  }

  .linea-derecha hr{
    width: 200px;
  }
}


/*@media screen and (max-width: 3000px){

.imagen-bogota {
 background-image: url(../images/bogota/bogota2.jpg);
 }

}
*/





@media screen and (max-width: 1000px){

    .cabecera {
      background-color: #253341;
    }

    .buttons1 {
      position: static;
      padding-bottom: 20px;
    }

    .logo--club--img {
      position: static;
      width: 200px;
      padding-top: 5px;

    }


  }

  @media screen and (max-width: 700px){


    .container-recuadro-img {
    width: 380px;
  }


    .container-cuadro-texto{
      width: 380px;
      font-size: 15px;
    }

    .textsorteo{
      padding-top: 8px;
      padding-bottom: 20px;
      font-family: lato,sans-serif;
    }

    .linea-izq hr{
      width: 50px;
    }

    .linea-derecha hr{
      width: 50px;
    }
    }

@media screen and (max-width: 500px){


  .buttons1 {
    position: static;
    padding-bottom: 20px;
  }

  .logo--club--img {
    width: 150px;
    padding-top: 5px;
  }
}


/*  Estilos del contenedor recuadro verde y texto
.container-imgtext {
position: relative;
width: 100%;

}

.textsorteo {
position: absolute;
width: 100%;
text-align: center;
font-family: lato, sans-serif;
font-size: 20px;
color: #84C546;
}

.textsorteo1 {
position: absolute;
width: 100%;
text-align: center;
font-family: lato, sans-serif;
font-size: 30px;
color: #ffffff;
padding-top: 50px;
}

.textsorteo2 {
position: absolute;
width: 100%;
text-align: center;
font-family: lato, sans-serif;
font-size: 30px;
color: #ffffff;
padding-top: 77px;
}

/*  Estilos del contenedor recuadro verde y texto */

/* fin Estilos del contenedor chica */
