
/*pineda junior*/

#pineda-j-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#pineda-j-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.pineda-j-container {
width: 100%;
margin: 0 0 1px;
}

.pineda-j-imagen{
width: 340px;
}

.pineda-j-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.pineda-j-titulo.open {
background: #76B503;
color: #fff;
}

.pineda-j-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.pineda-j-titulo span.toggle-icon1:before {
content:"+";
}

.pineda-j-titulo.open span.toggle-icon1:before {
content:"-";
}

.pineda-j-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.pineda-j-content {
display: none;
overflow: auto;
}

.pineda-j-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.pineda-j-content img {
display: block;
float: left;
width: 340px;
height: auto;
}



/*pineda junior*/

#pinedal-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#pinedal-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.pinedal-container {
width: 100%;
margin: 0 0 1px;
}

.pinedal-imagen{
width: 340px;
}

.pinedal-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.pinedal-titulo.open {
background: #76B503;
color: #fff;
}

.pinedal-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.pinedal-titulo span.toggle-icon1:before {
content:"+";
}

.pinedal-titulo.open span.toggle-icon1:before {
content:"-";
}

.pinedal-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.pinedal-content {
display: none;
overflow: auto;
}

.pinedal-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.pinedal-content img {
display: block;
float: left;
width: 340px;
height: auto;
}




/*eloisa*/

#eloisa-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#eloisa-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.eloisa-container {
width: 100%;
margin: 0 0 1px;
}

.eloisa-imagen{
width: 340px;
}

.eloisa-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.eloisa-titulo.open {
background: #76B503;
color: #fff;
}

.eloisa-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.eloisa-titulo span.toggle-icon1:before {
content:"+";
}

.eloisa-titulo.open span.toggle-icon1:before {
content:"-";
}

.eloisa-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.eloisa-content {
display: none;
overflow: auto;
}

.eloisa-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.eloisa-content img {
display: block;
float: left;
width: 340px;
height: auto;
}



/*rapi chiken*/

#rapi-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#rapi-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.rapi-container {
width: 100%;
margin: 0 0 1px;
}

.rapi-imagen{
width: 340px;
}

.rapi-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.rapi-titulo.open {
background: #76B503;
color: #fff;
}

.rapi-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.rapi-titulo span.toggle-icon1:before {
content:"+";
}

.rapi-titulo.open span.toggle-icon1:before {
content:"-";
}

.rapi-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.rapi-content {
display: none;
overflow: auto;
}

.rapi-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.rapi-content img {
display: block;
float: left;
width: 340px;
height: auto;
}


/*diagnosticentro*/

#diagnosti1-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#diagnosti1-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.diagnosti1-container {
width: 100%;
margin: 0 0 1px;
}

.diagnosti1-imagen{
width: 340px;
}

.diagnosti1-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.diagnosti1-titulo.open {
background: #76B503;
color: #fff;
}

.diagnosti1-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.diagnosti1-titulo span.toggle-icon1:before {
content:"+";
}

.diagnosti1-titulo.open span.toggle-icon1:before {
content:"-";
}

.diagnosti1-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.diagnosti1-content {
display: none;
overflow: auto;
}

.diagnosti1-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.diagnosti1-content img {
display: block;
float: left;
width: 340px;
height: auto;
}




/*diagnosticentro*/

#diagnosti2-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#diagnosti2-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.diagnosti2-container {
width: 100%;
margin: 0 0 1px;
}

.diagnosti2-imagen{
width: 340px;
}

.diagnosti2-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.diagnosti2-titulo.open {
background: #76B503;
color: #fff;
}

.diagnosti2-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.diagnosti2-titulo span.toggle-icon1:before {
content:"+";
}

.diagnosti2-titulo.open span.toggle-icon1:before {
content:"-";
}

.diagnosti2-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.diagnosti2-content {
display: none;
overflow: auto;
}

.diagnosti2-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.diagnosti2-content img {
display: block;
float: left;
width: 340px;
height: auto;
}





/*diana*/

#diana-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#diana-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.diana-container {
width: 100%;
margin: 0 0 1px;
}

.diana-imagen{
width: 340px;
}

.diana-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.diana-titulo.open {
background: #76B503;
color: #fff;
}

.diana-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.diana-titulo span.toggle-icon1:before {
content:"+";
}

.diana-titulo.open span.toggle-icon1:before {
content:"-";
}

.diana-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.diana-content {
display: none;
overflow: auto;
}

.diana-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.diana-content img {
display: block;
float: left;
width: 340px;
height: auto;
}





/*diana 2*/

#diana2-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#diana2-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.diana2-container {
width: 100%;
margin: 0 0 1px;
}

.diana2-imagen{
width: 340px;
}

.diana2-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.diana2-titulo.open {
background: #76B503;
color: #fff;
}

.diana2-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.diana2-titulo span.toggle-icon1:before {
content:"+";
}

.diana2-titulo.open span.toggle-icon1:before {
content:"-";
}

.diana2-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.diana2-content {
display: none;
overflow: auto;
}

.diana2-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.diana2-content img {
display: block;
float: left;
width: 340px;
height: auto;
}





/*Odontes*/

#odontes-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#odontes-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.odontes-container {
width: 100%;
margin: 0 0 1px;
}

.odontes-imagen{
width: 340px;
}

.odontes-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.odontes-titulo.open {
background: #76B503;
color: #fff;
}

.odontes-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.odontes-titulo span.toggle-icon1:before {
content:"+";
}

.odontes-titulo.open span.toggle-icon1:before {
content:"-";
}

.odontes-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.odontes-content {
display: none;
overflow: auto;
}

.odontes-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.odontes-content img {
display: block;
float: left;
width: 340px;
height: auto;
}




/*pulagrin*/

#pulgarin-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#pulgarin-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.pulgarin-container {
width: 100%;
margin: 0 0 1px;
}

.pulgarin-imagen{
width: 340px;
}

.pulgarin-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.pulgarin-titulo.open {
background: #76B503;
color: #fff;
}

.pulgarin-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.pulgarin-titulo span.toggle-icon1:before {
content:"+";
}

.pulgarin-titulo.open span.toggle-icon1:before {
content:"-";
}

.pulgarin-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.pulgarin-content {
display: none;
overflow: auto;
}

.pulgarin-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.pulgarin-content img {
display: block;
float: left;
width: 340px;
height: auto;
}


/*sicarare*/

#sicarare-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#sicarare-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.sicarare-container {
width: 100%;
margin: 0 0 1px;
}

.sicarare-imagen{
width: 340px;
}

.sicarare-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.sicarare-titulo.open {
background: #76B503;
color: #fff;
}

.sicarare-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.sicarare-titulo span.toggle-icon1:before {
content:"+";
}

.sicarare-titulo.open span.toggle-icon1:before {
content:"-";
}

.sicarare-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.sicarare-content {
display: none;
overflow: auto;
}

.sicarare-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.sicarare-content img {
display: block;
float: left;
width: 340px;
height: auto;
}




/*hotel el bosque*/

#bosque-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#bosque-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.bosque-container {
width: 100%;
margin: 0 0 1px;
}

.bosque-imagen{
width: 340px;
}

.bosque-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.bosque-titulo.open {
background: #76B503;
color: #fff;
}

.bosque-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.bosque-titulo span.toggle-icon1:before {
content:"+";
}

.bosque-titulo.open span.toggle-icon1:before {
content:"-";
}

.bosque-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.bosque-content {
display: none;
overflow: auto;
}

.bosque-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.bosque-content img {
display: block;
float: left;
width: 340px;
height: auto;
}




/*hombe*/

#hombe-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#hombe-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.hombe-container {
width: 100%;
margin: 0 0 1px;
}

.hombe-imagen{
width: 340px;
}

.hombe-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.hombe-titulo.open {
background: #76B503;
color: #fff;
}

.hombe-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.hombe-titulo span.toggle-icon1:before {
content:"+";
}

.hombe-titulo.open span.toggle-icon1:before {
content:"-";
}

.hombe-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.hombe-content {
display: none;
overflow: auto;
}

.hombe-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.hombe-content img {
display: block;
float: left;
width: 340px;
height: auto;
}




/*crh*/

#crh-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#crh-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.crh-container {
width: 100%;
margin: 0 0 1px;
}

.crh-imagen{
width: 340px;
}

.crh-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.crh-titulo.open {
background: #76B503;
color: #fff;
}

.crh-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.crh-titulo span.toggle-icon1:before {
content:"+";
}

.crh-titulo.open span.toggle-icon1:before {
content:"-";
}

.crh-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.crh-content {
display: none;
overflow: auto;
}

.crh-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.crh-content img {
display: block;
float: left;
width: 340px;
height: auto;
}



/*hoz*/

#hoz-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#hoz-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.hoz-container {
width: 100%;
margin: 0 0 1px;
}

.hoz-imagen{
width: 340px;
}

.hoz-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.hoz-titulo.open {
background: #76B503;
color: #fff;
}

.hoz-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.hoz-titulo span.toggle-icon1:before {
content:"+";
}

.hoz-titulo.open span.toggle-icon1:before {
content:"-";
}

.hoz-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.hoz-content {
display: none;
overflow: auto;
}

.hoz-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.hoz-content img {
display: block;
float: left;
width: 340px;
height: auto;
}

/*ksa*/

#ksai-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#ksai-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.ksai-container {
width: 100%;
margin: 0 0 1px;
}

.ksai-imagen{
width: 340px;
}

.ksai-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.ksai-titulo.open {
background: #76B503;
color: #fff;
}

.ksai-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.ksai-titulo span.toggle-icon1:before {
content:"+";
}

.ksai-titulo.open span.toggle-icon1:before {
content:"-";
}

.ksai-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.ksai-content {
display: none;
overflow: auto;
}

.ksai-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.ksai-content img {
display: block;
float: left;
width: 340px;
height: auto;
}



/*maranata*/

#maranata-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#maranata-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.maranata-container {
width: 100%;
margin: 0 0 1px;
}

.maranata-imagen{
width: 340px;
}

.maranata-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.maranata-titulo.open {
background: #76B503;
color: #fff;
}

.maranata-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.maranata-titulo span.toggle-icon1:before {
content:"+";
}

.maranata-titulo.open span.toggle-icon1:before {
content:"-";
}

.maranata-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.maranata-content {
display: none;
overflow: auto;
}

.maranata-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.maranata-content img {
display: block;
float: left;
width: 340px;
height: auto;
}


/*asadero*/

#asadero-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#asadero-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.asadero-container {
width: 100%;
margin: 0 0 1px;
}

.asadero-imagen{
width: 340px;
}

.asadero-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.asadero-titulo.open {
background: #76B503;
color: #fff;
}

.asadero-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.asadero-titulo span.toggle-icon1:before {
content:"+";
}

.asadero-titulo.open span.toggle-icon1:before {
content:"-";
}

.asadero-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.asadero-content {
display: none;
overflow: auto;
}

.asadero-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.asadero-content img {
display: block;
float: left;
width: 340px;
height: auto;
}



/*yeinnys*/

#yeinnys-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#yeinnys-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.yeinnys-container {
width: 100%;
margin: 0 0 1px;
}

.yeinnys-imagen{
width: 340px;
}

.yeinnys-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.yeinnys-titulo.open {
background: #76B503;
color: #fff;
}

.yeinnys-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.yeinnys-titulo span.toggle-icon1:before {
content:"+";
}

.yeinnys-titulo.open span.toggle-icon1:before {
content:"-";
}

.yeinnys-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.yeinnys-content {
display: none;
overflow: auto;
}

.yeinnys-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.yeinnys-content img {
display: block;
float: left;
width: 340px;
height: auto;
}



/*aroma*/

#aroma-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#aroma-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.aroma-container {
width: 100%;
margin: 0 0 1px;
}

.aroma-imagen{
width: 340px;
}

.aroma-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.aroma-titulo.open {
background: #76B503;
color: #fff;
}

.aroma-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.aroma-titulo span.toggle-icon1:before {
content:"+";
}

.aroma-titulo.open span.toggle-icon1:before {
content:"-";
}

.aroma-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.aroma-content {
display: none;
overflow: auto;
}

.aroma-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.aroma-content img {
display: block;
float: left;
width: 340px;
height: auto;
}




/*faiver*/

#faiver-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#faiver-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.faiver-container {
width: 100%;
margin: 0 0 1px;
}

.faiver-imagen{
width: 340px;
}

.faiver-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.faiver-titulo.open {
background: #76B503;
color: #fff;
}

.faiver-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.faiver-titulo span.toggle-icon1:before {
content:"+";
}

.faiver-titulo.open span.toggle-icon1:before {
content:"-";
}

.faiver-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.faiver-content {
display: none;
overflow: auto;
}

.faiver-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.faiver-content img {
display: block;
float: left;
width: 340px;
height: auto;
}





/*quinoa*/

#quinoa-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#quinoa-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.quinoa-container {
width: 100%;
margin: 0 0 1px;
}

.quinoa-imagen{
width: 340px;
}

.quinoa-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.quinoa-titulo.open {
background: #76B503;
color: #fff;
}

.quinoa-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.quinoa-titulo span.toggle-icon1:before {
content:"+";
}

.quinoa-titulo.open span.toggle-icon1:before {
content:"-";
}

.quinoa-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.quinoa-content {
display: none;
overflow: auto;
}

.quinoa-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.quinoa-content img {
display: block;
float: left;
width: 340px;
height: auto;
}





/*mr*/

#mr-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#mr-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.mr-container {
width: 100%;
margin: 0 0 1px;
}

.mr-imagen{
width: 340px;
}

.mr-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.mr-titulo.open {
background: #76B503;
color: #fff;
}

.mr-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.mr-titulo span.toggle-icon1:before {
content:"+";
}

.mr-titulo.open span.toggle-icon1:before {
content:"-";
}

.mr-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.mr-content {
display: none;
overflow: auto;
}

.mr-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.mr-content img {
display: block;
float: left;
width: 340px;
height: auto;
}




/*senses*/

#senses-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#senses-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.senses-container {
width: 100%;
margin: 0 0 1px;
}

.senses-imagen{
width: 340px;
}

.senses-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.senses-titulo.open {
background: #76B503;
color: #fff;
}

.senses-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.senses-titulo span.toggle-icon1:before {
content:"+";
}

.senses-titulo.open span.toggle-icon1:before {
content:"-";
}

.senses-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.senses-content {
display: none;
overflow: auto;
}

.senses-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.senses-content img {
display: block;
float: left;
width: 340px;
height: auto;
}





/*bar*/

#bar-main{
margin:40px auto;
min-width:320px;
width:340px;

}

#bar-main h1{
font-size: 40px;
text-shadow:4px 4px 5px #16a085;

}

.bar-container {
width: 100%;
margin: 0 0 1px;
}

.bar-imagen{
width: 340px;
}

.bar-titulo {
position: relative;
display: block;
padding: 10px;
font-size: 15px;
font-weight: 300;
font-family: lato,sans-serif;
background: #76B503;
color: #fff;
text-decoration: none;
}

.bar-titulo.open {
background: #76B503;
color: #fff;
}

.bar-titulo:hover {
background: #84C599;
color: #2c3e50;
}

.bar-titulo span.toggle-icon1:before {
content:"+";
}

.bar-titulo.open span.toggle-icon1:before {
content:"-";
}

.bar-titulo span.toggle-icon1 {
position: abaprisa2ute;
top: 10px;
right: 20px;
font-size: 38px;
font-weight:bold;
}

.bar-content {
display: none;
overflow: auto;
}

.bar-content p{
text-align: justify;
font-size: 15px;
font-family: lato, sans-serif;
padding: 15px 25px;
background-color: #ddd;
color: #2c3e50;
}

.bar-content img {
display: block;
float: left;
width: 340px;
height: auto;
}
